.aside-form {
  background: var(--shape-body) no-repeat center;
  background-size: cover;
  border-radius: .75rem;
  overflow: auto;
  padding: 2rem;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  & h2 {
    font: var(--heading-md);
    color: var(--text-heading);
    margin-bottom: 2.5rem;
  }
  & h2,
  & form {
    max-width: 560px;
    margin-inline: auto;
  }
}

fieldset {
  border: none;

  & legend h3 {
    display: flex;
    align-items: center;
    gap: .75rem;
    font: var(--heading-sm);
    color: var(--text-heading);
    margin-bottom: 1.5rem;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-bottom: 1rem;
}

label {
  font: var(--body-sm);
}

input,
textarea {
  all: unset;
  background: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  padding: 12px 16px;
  font: var(--body-md);
  color: #fff;

  &::placeholder {
    font: var(--body-md);
    color: var(--input-placeholder);
  }

  &:focus {
    border: 1px solid var(--brand-light);

    &::placeholder {
      color: #fff;
    }

    &:invalid {
      & + .error {
        display: flex;
        align-items: center;
        gap: .5rem;
        font: var(--body-xs);
        & small,
        & svg path {
          color: var(--danger);
          fill: var(--danger);
        }
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.agroup-radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  background: var(--input-base);
  height: 100%;
  border: 1px solid var(--input-stroke);
  border-radius: .5rem;

  & .presenc,
  & .ead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    position: relative;

    & input {
      all: unset;
      position: absolute;
      inset: 0;
      &:hover,
      &:focus,
      &:checked {
        outline: 1px solid var(--shape-button);
        border-radius: .5rem;
        & + svg path {
          fill: var(--brand-light);
        }
        & + svg {
          & + label {
            color: #fff;
          }
        }
      }
    }
  }
}

.style-event .input-wrapper {
  display: flex;
  flex-direction: column;
  & input {
    all: unset;
  }
}

.agroup-colors {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.style-event .agroup-colors .color {
  background: var(--shape-button);
  border-radius: 999px;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;

  &:hover {
    outline: 2px solid var(--brand-light);
  }

  & input {
    position: absolute;
    inset: 8px;
    border-radius: 999px;

    &:focus,
    &:checked {
      &:after {
        content: '✔';
        color: #00d754;
        font-weight: bold;
        position: absolute;
        top: 100%;
        right: 0;
      }
    }
  }
}

.agroup-colors .color:nth-child(1) input {
  background: var(--brand-light);
}
.agroup-colors .color:nth-child(2) input {
  background: var(--navy);
}
.agroup-colors .color:nth-child(3) input {
  background: var(--purple);
}
.agroup-colors .color:nth-child(4) input {
  background: var(--fuschia);
}
.agroup-colors .color:nth-child(5) input {
  background: var(--pink);
}
.agroup-colors .color:nth-child(6) input {
  background: var(--danger);
}
.agroup-colors .color:nth-child(7) input {
  background: var(--orange);
}
.agroup-colors .color:nth-child(8) input {
  background: var(--yellow);
}
.agroup-colors .color:nth-child(9) input {
  background: var(--lime);
}
.agroup-colors .color:nth-child(10) input {
  background: var(--green);
}
.agroup-colors .color:nth-child(11) input {
  background: var(--cyan);
}

.grid-theme {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));
  gap: .5rem;
  
  & .box-theme {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    background: var(--shape-button);
    border-radius: .5rem;
    position: relative;

    & img {
      width: 100%;
    }

    & p {
      font: var(--body-sm);
      color: var(--text-heading);
      text-align: center;
    }

    & input {
      position: absolute;
      inset: 0;
      cursor: pointer;

      &:hover,
      &:focus,
      &:checked {
        border: 2px solid var(--brand-light);
        border-radius: .5rem;
      }
    }
  }
}

.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 1rem;
}

.theme-black-white {
  position: relative;
  width: 4rem;
  height: 2rem;

  & input[type="checkbox"] {
    position: absolute;
    inset: 0;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 999px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 100%;
      background: var(--input-stroke);
      border-radius: inherit;
    }

    &::before {
      content: 'Escuro';
      position: absolute;
      left: 120%;
      top: 50%;
      transform: translateY(-50%);
      font: var(--body-sm);
      color: var(--text-heading);
    }

    &:checked {
      background: var(--brand-light);

      &::after {
        background: #fff;
        right: 0;
      }

      &::before {
        content: 'Claro';
      }
    }
  }
}

.theme-photo-background div input[type="file"] {
  font: var(--body-sm);
  border-radius: 999px;
}

.division {
  display: block;
  margin-block: 40px;
  border: 1px solid var(--input-stroke);
  width: 100%;
  height: 1px;
}

.flex-contact {
  display: flex;
  gap: 1rem;

  & .input-wrapper {
    flex-basis: 50%;
  }
}

.terms-and-others {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.terms-and-others div {
  display: flex;
  align-items: center;
  gap: 12px;

  & svg {
    display: none;
  }

  & .input-check {
    position: relative;
  }

  & label a {
    color: var(--brand-light);
  }

  & input:checked {
    border: 1px solid var(--brand-light);

    & + svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin: 48px 0 80px 0;
  width: 100%;

  & button {
    all: unset;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 20px;
    border-radius: .5rem;
    background: var(--brand-dark);
    font: var(--body-sm);
    color: var(--text-heading);
    cursor: pointer;
  }
}